/* Create Color variables here
 * follow this link for Color name
 * https://chir.ag/projects/name-that-color/
 * and use $c prefix.
 * use lowercase for color code and variable name 
 * i.e $c-black: #000000; */
/* Create Typo variables here
 * use $ff prefix for font family
 * use $fs for font size
 i.e $ff-roboto-b: Roboto-bold;
 * $fs-large: 40px; */
/* Placeholders */
/* Mixins */
/* SCSS Functions */
/* Enter Your Global CSS here */
* {
  box-sizing: border-box;
}

*:after, *:before {
  box-sizing: border-box;
}

/* Enter Button Global CSS Here */
/* Header CSS */
/* Footer CSS */
/* Navigation CSS */
/* Sidebar CSS */
/* About page css */
/* Home Page CSS */
.wps_mfw_buy_button form {
  margin: 0;
}

/*other memberships style*/
.available_member {
  margin: 10px 10px -20px 0;
  display: inline-block;
  max-width: 150px;
  vertical-align: top;
}

.available_member .button.alt.mfw-membership {
  background-color: unset;
  background-image: linear-gradient(90deg, #143856, #1a3365);
  border-radius: 5px;
  border: 2px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 10px auto;
  max-width: 230px;
  min-height: 50px;
  overflow: hidden;
  padding: 5px 20px;
  position: relative;
  text-align: center;
  text-transform: capitalize;
  transition: 0.2s background-image linear;
  width: 100%;
}

.available_member .button.alt.mfw-membership:hover {
  background-image: linear-gradient(90deg, #fff, #fff);
  border: 2px solid #143856;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  color: #1a1a1a !important;
}

.available_member .button.alt.mfw-membership:before {
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid #ffffff33;
  box-shadow: -125px -50px 0 -20px #ffffff20;
  content: '';
  height: 100px;
  position: absolute;
  right: -45px;
  top: 38px;
  width: 100px;
}

.wps-mfwp__available--title {
  color: #1a1a1a;
  font-weight: 600;
  margin-top: 10px;
  padding: 10px 0;
  position: relative;
}

.wps-mfwp__available--title:after {
  background-color: #1a1a1a;
  border-radius: 50px;
  bottom: 0;
  content: '';
  height: 3px;
  left: 0;
  position: absolute;
  width: 75px;
}

/*GIT issue fixes #1*/
.woocommerce-column--plan-details address label {
  display: block;
  font-weight: 600;
}

/*issue #70*/
.wps_membership_plan_content_price {
  padding-bottom: 0;
}

.wps_membership_plan_content_desc img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.wps_membership_buy_now_btn .wps_membership_buynow:hover, .wps_membership_no_thanks.button.alt.thickbox:hover {
  border: 2px solid #f37e21 !important;
}

.wps_membership_buy_now_btn .wps_membership_buynow, .button.alt.wps_membership_no_thanks {
  border: 2px solid transparent !important;
  margin: 10px;
  padding: 0;
  height: 55px;
}

.available_member {
  margin: 10px 10px -20px 0 !important;
}

.available_member .button.alt.mfw-membership {
  width: unset;
}
.wps_membership_plan_content_description img {
  margin: 20px auto;
  max-width: 200px;
  height: auto;
}