.members_data_column_container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

/*Listed member table edit of Member page*/
table.wp-list-table {
    font-family: sans-serif;
}

.wps_membership_preview_table table tr:nth-child(even) {
    background-color: #f1f6ff;
}

.wps_membership_preview_table table tr th {
    padding-left: 15px;
}

table.wp-list-table thead th,
table.wp-list-table tfoot th {
    color: #0071a1;
}

.membership_user.column-membership_user,
.expiration.column-expiration {
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 1px;
}

/*Removing focus from elements*/
#delete-member-action a:focus,
.submitbox select:focus,
#posts-filter input[type=submit]:focus,
.edit_members_action a.button:focus,
.wrap a.page-title-action:focus,
p.form-field.membership-customer a:focus,
a.edit_member_address:focus,
span.dashicons.dashicons-no-alt:focus,
.cancel_member_edit:focus {
    box-shadow: none;
    outline: none;
}
.cancel_member_edit {
    display: none;
}

/* Any element Positioning  */
.alignleft.actions,
#posts-filter .alignleft.actions {
    display: flex;
}

input#export_all_members, input#import_members, input#download_sample_csv_to_import {
    order: 3;
    background-color: inherit;
    color: #0071a1;
    font-weight: 500;
    letter-spacing: 0.5px;
    border: 1px solid #0071a1;
    transition: background-color 0.2s ease-in-out;
}

input#export_all_members:hover, input#import_members:hover, input#download_sample_csv_to_import:hover {
    background-color: #0071a1;
    color: #ffffff;
}

input#post-query-submit,
#postbox-container-1 {
    order: 2;
}

select#filter-by-date,
#postbox-container-2 {
    order: 1;
}

/*All plan page status button style*/

.members_status.column-members_status,
.members_plan_preview .member_plan_status {
    border-radius: 2px;
    padding: 5px;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-align: center;
    vertical-align: middle;
    width: 110px;
    display: block;
    margin: 15px;
}

.members_plan_preview .member_plan_status {
    margin: 15px auto;
}

/*Modal of member page style*/
#TB_window {
    font-family: sans-serif;
}

div#TB_title {
    height: auto;
}

div #TB_ajaxWindowTitle {
    text-align: center;
    font-family: sans-serif;
    font-size: 21px;
    padding: 13px 29px 13px 10px;
    letter-spacing: 2px;
    color: #1a3365;
    box-shadow: 0px 2px 5px #c7c7c7;
}

#TB_ajaxContent h2 {
    text-align: center;
    background-color: #1a3365;
    padding: 10px 0px;
    color: #ffffff;
    font-family: sans-serif;
    letter-spacing: 1px;
    max-width: 350px;
    margin: 10px auto 0px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px #c7c7c7;
}

.members_billing_preview_wrapper {
    display: flex;
    justify-content: space-around;
}

.members_billing_preview_wrapper .members_billing_preview,
.members_billing_preview_wrapper .members_plan_preview {
    flex: 0 0 48%;
}

.members_plan_preview_table_wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

table.plan_preview_table {
    text-align: left;
    max-width: 250px;
    width: 100%;
    padding: 10px;
}

/*Button in modal of members page*/

.edit_members_action {
    position: absolute;
    top: 10px;
    right: 65px;
}

/*Billing Part styling starts*/

#poststuff div#post-body.columns-2 {
    margin: 0px;
    display: flex;
}

#post-body.columns-2 #postbox-container-1 {
    float: none;
    margin: 0px 0px 0px 15px;
}

#post-body-content {
    margin-bottom: 20px;
    display: none;
}

/*headings of Billing page*/

.postbox .postbox-header h2 {
    font-size: 18px !important;
    font-family: sans-serif;
    letter-spacing: 0.5px;
    color: #1a3365;
    border: none;
    border-left: 5px solid #1a3365;
}

.handle-actions.hide-if-no-js {
    display: none;
}

/*Billing page left container billing details*/
.members_billing_details h1 {
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
    background-color: #1a3365;
    padding: 5px;
    color: #ffffff;
    max-width: 350px;
    margin: 15px auto 0px;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 0px 5px 5px #d6d6d6;
}

#members_metabox_billing .inside {
    padding: 0px;
    margin: 0px;
}

.wc-wp-version-gte-53 .select2-container .select2-selection--single {
    box-shadow: none;
    border: 1px solid #1a3365;
    border-radius: 0;
    font-size: 15px;
    text-transform: capitalize;
}

.members_data_column_container {
    display: flex;
    justify-content: space-around;
}

.members_data_column h3 {
    color: #1a3365;
    border-bottom: 2px solid #1a3365;
    padding: 5px;
}

.members_data_column {
    position: relative;
    max-width: 100%;
    margin: 0px 10px;
    width: 100%;
}

a.edit_member_address,
span.dashicons.dashicons-no-alt {
    position: absolute;
    top: 20px;
    color: #1a3365;
    right: 10px;
}
.member_edit_address {
   display:none;
}

.member_edit_address p {
    width: 100%;
    padding: 0px;
    margin: 10px 0px 0px 10px;
}

p.form-field.billing_country_field,
p.form-field.billing_state_field {
    display: flex;
    width: 95%;
}

.wc-wp-version-gte-53 .select2-container.select2-container--focus .select2-selection--single {
    box-shadow: none;
}

.member_edit_address p label {
    color: #1a3365;
    margin-bottom: 4px;
    letter-spacing: 1px;
    max-width: 250px;
    width: 100%;
    font-size: 15px;
    display: block;
}

.member_edit_address p input {
    border: 1px solid #1a3365;
    border-radius: 0px;
}

p.form-field.membership-customer {
    display: flex;
    flex-direction: column;
}

p.form-field.membership-customer label {
    display: flex;
    flex-direction: column;
    line-height: 25px;
    font-weight: 600;
    font-size: 15px;
}

p.form-field.membership-customer a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    border-left: 3px solid #1a3365;
    background-color: #ffffff;
    padding: 0px 10px;
    margin: 5px 0px;
}

p.form-field.membership-customer a:hover {
    color: #333333;
}

/*Billing page left container Membership details*/
.members_plans_details table tr:nth-child(even) {
    background-color: #f1f6ff;
}

.members_plans_details table th,
.members_plans_details table td {
    padding: 8px;
}

.wps_members_plan_select {
    display: block;
    color: #F37E21;
}

span.select2.select2-container {
    max-width: 250px;
    width: 100% !important;
}

/*Billing page right container schedule details*/

#members_metabox_schedule {
    position: relative;
}

#members_metabox_schedule:after {
    content: "PRO";
    font-size: 16px;
    font-family: sans-serif;
    position: absolute;
    color: #ffffff;
    letter-spacing: 2px;
    top: 0;
    right: 0;
    border-radius: 2px;
    padding: 3px;
    background-color: #772BFF;
    box-shadow: 0px 2px 10px #c7c7c7;
}

.member_billing_schedule_edit {
    display: flex;
    justify-content: space-between;
}

div#members_next_payment {
    margin: 10px 0px;
}

.members-date-field {
    display: flex;
    margin: 10px 0px;
}

p.form-field.billing_interval_field {
    display: flex;
    justify-content: space-between;
    max-width: 200px;
    width: 100%;
    align-items: center;
}

span#members-timezone {
    font-size: 15px;
    font-weight: 600;
    margin: 0px 10px;
}

div#members_start_date {
    display: flex;
    justify-content: space-between;
}

/*Pro Schedule*/
#members_metabox_schedule {
    pointer-events: none;
    filter: opacity(0.5) grayscale(1);
}

/*Billing page right container member action details*/
.submitbox li.wide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.submitbox li.wide:last-child {
    margin: 10px 0px;
}

.submitbox select {
    width: 100%;
    max-width: 175px;
    border: 1px solid #1a3365;
    display: block;
    white-space: break-spaces;
    line-height: 20px;
}

#delete-member-action a {
    text-decoration: none;
    font-size: 15px;
}

#delete-member-action a:hover {
    color: #990000;
}

.member_plan_status.complete {
    background: #c6e1c6;
    color: #5b841b;
}

.member_plan_status.pending {
    background: #e5e5e5;
    color: #777;
}

.member_plan_status.hold {
    background:#f8dda7;
    color: #94660c;
}

.member_plan_status.expired {
    background: #d46363;
    color: #777;
}

/*responsiveness site*/
@media screen and (max-width:992px) {
    #poststuff div#post-body.columns-2 {
        flex-wrap: wrap;
    }
}


.members_billing_details .members_data_column_container {
    flex-wrap:wrap;
}

.members_billing_details .members_data_column {
    flex: 1 0 calc(50% - 20px);
}

span.wps_member_notice {
    padding: 10px 15px;
    text-align: center;
    margin: 10px auto;
    color: red;
    letter-spacing: 0.4px;
    font-size: 14px;
    display: block;
    line-height: 1.5px;
}

select#wps-wpg-gen-table_status .complete, .wps-member-status-complete {
    color: #03dac5 !important;
  }
  
  select#wps-wpg-gen-table_status .pending {
       color: #fdb51a !important;
  }
  
  select#wps-wpg-gen-table_status .cancelled, .wps-member-status-cancelled {
       color: #f32121 !important;
  }


