/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/*Appearance Section start*/
.mwb_membership_card_div_wrapper {
    display: flex;
    flex-wrap: wrap;
}

.mwb-membership-appearance-section-hidden {
    display: none;
}

/*Appearance Section End*/

/*Custom designing for admin pannel start*/

/*Removing Focus*/
select#mwb_membership_plan_offer_price_type_id:focus,
#mwb_membership_plan_access_type:focus,
#mwb_membership_plan_duration_type:focus,
#poststuff .toggle-indicator:focus,
#poststuff .handlediv:focus,
td.membership_view.column-membership_view a:focus,
.import_csv_field_wrapper>input:focus,
#mwb_membership_manage_content:focus,
ul.select2-selection__rendered:focus,
button.ui-button.ui-corner-all.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close:focus,
.mwb_membership_free_shipping_link a.button:focus,
a#post-preview:focus,
#posts-filter input[type=submit]:focus,
.wrap a.page-title-action:focus,
#wpbody-content input[type=submit]:focus,
#wpbody-content input[type=text]:focus,
#wpbody-content input[type=email]:focus,
#wpbody-content input[type=tel]:focus,
#wpbody-content input[type=radio]:focus,
#wpbody-content input[type=button]:focus,
#wpbody-content textarea:focus,
#wpbody-content select:focus,
#wpbody-content input[type=number]:focus,
.mwb_membership_gateway_div .button:focus,
.mwb_membership_manage_gateways a:focus {
    box-shadow: none;
    outline: none;
}

/*Input fields styling*/

.meta-box-sortables input[type=text],
.meta-box-sortables input[type=number] {
    border: none;
    border-bottom: 2px solid #1a3365;
    border-radius: 0px;
    border-radius: 0px;
    background: none;
    padding: 0px;
}

.meta-box-sortables input[type=text] {
    max-width: 100px;
    border: none;
    border: 1px solid #1a3365;
    padding: 5px;
    border-radius: 5px;
}

.meta-box-sortables input[type=text]:focus,
.meta-box-sortables input[type=checkbox]:focus,
.mwb_membership_plans_creation_setting input[type=checkbox]:focus,
.mwb_membership_plans_creation_setting input[type=text]:focus {
    box-shadow: none;
}

.postbox-container input[type=checkbox],
.mwb_membership_plans_creation_setting input[type=checkbox] {
    border: none;
    width: 33px;
    height: 20px;
    border-radius: 35px;
    background-color: #1a3365;
    position: relative;
}

.postbox-container input[type=checkbox]:before,
.mwb_membership_plans_creation_setting input[type=checkbox]:before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    top: 1px;
    background-color: #fff;
    z-index: 1;
    border-radius: 50%;
    box-shadow: 1px 0px 3px #1a3365;
    cursor: pointer;
    transition: linear 0.2s;
}

.postbox-container input[type=checkbox]:before,
.mwb_membership_plans_creation_setting input[type=checkbox]:before {
    left: 0px;

}

.postbox-container input[type=checkbox]:checked:before,
.mwb_membership_plans_creation_setting input[type=checkbox]:checked:before {
    margin: 0;
    left: 15px;
}

.postbox-container input[type=checkbox]:checked,
.mwb_membership_plans_creation_setting input[type=checkbox]:checked {
    background-color: #F37E21;
}

/*Tool tip*/

.postbox-container .postbox .woocommerce-help-tip {
    margin: 0 20px 0 9px;
}

/*Headings in Admin pannel*/

.mwb_membership_plan_products h1,
.mwb_membership_shortcodes h2 {
    font-size: 25px !important;
    font-family: sans-serif;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
}

.postbox-container .mwb_membership_plan_products h1 {
    font-size: 32px;
    font-weight: 600;
    background-color: ;
    color: #ffffff;
}

#poststuff h2.mwb_membership_offer_title {
    color: #1a3365;
    max-width: 320px;
    font-size: 15px;
    margin: 15px 0px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    border-left: 6px solid #F37E21;
    border-bottom: 2px solid #1a3365;
}

#members_meta_box .postbox-header h2,
.mwb_membership_global_settings h2,
.mwb_membership_supported_gateways h2,
.mwb_membership_shortcodes h2,
.mwb_membership_Overview h2 {
    font-size: 18px !important;
    font-family: sans-serif;
    letter-spacing: 0.5px;
    color: #1a3365;
    border: none;
    justify-content: left;
}

#members_meta_box .postbox-header,
.mwb_membership_global_settings,
.mwb_membership_supported_gateways,
.mwb_membership_shortcodes,
.mwb_membership_Overview {
    box-shadow: 0px 2px 5px #c7c7c7;
    padding: 10px 5px;
    background-color: #ffffff;
    border-left: 5px solid #1a3365;
    margin: 0px 0px 10px;
    width: 100%;
}

#members_meta_box .postbox-header {
    width: unset;
}

/*Indicators of Admin pannel*/

.handle-actions.hide-if-no-js {
    display: flex;
    align-items: center;
}

/*Table row In admin pannel*/
.form-table.mwb_membership_plans_creation_setting tr:nth-child(even) {
    background-color: #ffffff;
}

.form-table.mwb_membership_plans_creation_setting tr:nth-child(odd) {
    background-color: #f1f6ff;
}

#mwb_membership_recurring_plan,
#mfw_membership_access_type {
    position: relative;
}

#mwb_membership_recurring_plan:before,
#mfw_membership_access_type:before {
    content: "PRO";
    font-size: 10px;
    font-family: sans-serif;
    position: absolute;
    color: #ffffff;
    letter-spacing: 2px;
    top: 4px;
    left: 0px;
    padding: 2px 5px;
    z-index: 1;
    transform: rotate(-42deg);
}

#mwb_membership_recurring_plan:after,
#mfw_membership_access_type:after {
    content: "";
    position: absolute;
    top: 0px;
    left: -19px;
    border-radius: 2px;
    padding: 2px 5px;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-bottom: 20px solid #772bff;
    width: 20px;
    transform: rotate(-42deg);
}


.mwb_membership_shortcodes_table tbody {
    display: flex;
    justify-content: space-around;
}

.mwb_membership_shortcodes_table tr {
    display: flex;
    flex-direction: column;
    flex: 0 0 45%;
    background: #ffffff;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 2px 10px #c7c7c7;
    border-radius: 5px;
}


.mwb_membership_shortcodes_table th {
    width: 95%;
    font-family: sans-serif;
    padding: 10px;
    border-bottom: 2px solid #1a3365;
    color: #1a3365;
}

.mwb_membership_plans_creation_setting label {
    color: #1a3566;
    font-family: sans-serif;
}

.postbox .inside {
    padding: 0;
}

.postbox .inside table tr th,
.mwb_membership_table.mwb_membership_shortcodes tr th {
    padding: 15px;
    min-width: 250px;
    text-align: left;
}

.postbox .inside table tr th label {
    font-family: sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    color: #1a3365;
}

.new_created_offers table {
    width: 100%;
    display: block;
}

.new_created_offers table tbody {
    display: block;
}

.new_created_offers.mwb_membership_offers table tr:nth-child(odd) {
    background-color: #ffffff;
    display: block;
}

/*Select box styling*/

.selection .select2-selection.select2-selection--multiple {
    border: 2px solid #1a3365;
    margin: 10px auto;
    padding: 10px 0px;
    background-color: inherit;
}

select#mwb_membership_plan_offer_price_type_id,
#mwb_membership_plan_access_type,
#mwb_membership_plan_duration_type,
#mwb_membership_manage_content,
.mwb_membership_table.mwb_membership_shortcodes .woocommerce-help-tip {
    border: none;
    margin-right: 10px;
}

#mwb_membership_plan_time_duration_type {
    border: none;
    margin: 0px 0px 0px 20px;
}

div#mwb_membership_plan_time_duratin_display {
    margin: 10px 0px;
}

select #mwb_membership_plan_duration_type {
    background: rgb(0 113 159 / 0.2);
}

span.select2.select2-container.select2-container--default {
    min-width: 250px;
    min-height: 100px;
}

.select2-selection .select2-selection__rendered li.select2-selection__choice {
    border: none;
    background-color: #1a3365;
    color: #ffffff;
}

span.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
}

/*radio button styling*/
.postbox-container input[type=radio] {
    background-color: inherit;
    border: 1px solid #1a3365;
    width: 20px;
    height: 20px;
    vertical-align: -webkit-baseline-middle;
    margin-left: 50px;
}

.postbox-container input[type=radio]:before {
    background-color: #1a3365;
    margin: 4.1px;
    width: 10px;
    height: 10px;
}

/*button styling*/

.mwb_membership_free_shipping_link a.button {
    border: 1px solid #ffffff;
    background-color: #1a3365;
    color: #ffffff;
    transition: linear background-color 0.2s;
}

.mwb_membership_free_shipping_link a.button:hover {
    border: 1px solid #1a3365;
    background-color: inherit;
    color: #1a3365;
}

/*All plan page status button style*/

.membership_status.column-membership_status {
    /* background-color: #FF7A59;
    color: #fff; */
    border-radius: 2px;
    padding: 7px;
    text-align: center;
    vertical-align: middle;
    width: 110px;
    margin: 15px;
    display: block;
}

td.membership_view.column-membership_view,
.widefat td.membership_user_view {
    text-align: center;
    vertical-align: middle;
}

.widefat thead tr th,
.widefat tfoot tr th {
    color: #0071a1;
}

#import_all_membership {
    margin-left: 10px;
}

/*Modal of product page style*/

div#TB_title {
    height: auto;
}

div #TB_ajaxWindowTitle {
    text-align: center;
    font-family: sans-serif;
    font-size: 21px;
    padding: 13px 29px 13px 10px;
    letter-spacing: 2px;
    color: #1a3365;
    box-shadow: 0px 2px 5px #c7c7c7;
}

#TB_ajaxContent h2 {
    text-align: center;
    background-color: #1a3365;
    padding: 10px 0px;
    color: #ffffff;
    font-family: sans-serif;
    letter-spacing: 1px;
    max-width: 350px;
    margin: 10px auto 0px;
    border-radius: 5px;
    box-shadow: 0px 5px 10px #c7c7c7;
}

.mwb_membership_preview_table table tr:nth-child(even) {
    background-color: #f1f6ff;
}

.mwb_membership_preview_table table tr th {
    padding-left: 15px;
    font-family: sans-serif;
}

/*Admin pannel button styling*/
input#export_all_membership,
input#import_all_membership,
.mwb_membership_plans_creation_setting input[type=button],
.mwb_membership_gateway_div .button,
.mwb_membership_gateway_div a {
    background-color: inherit;
    color: #0071a1;
    font-weight: 500;
    letter-spacing: 0.5px;
    border: 1px solid #0071a1;
    transition: background-color 0.2s ease-in-out;
}

input#export_all_membership:hover,
input#import_all_membership:hover,
.mwb_membership_plans_creation_setting input[type=button]:hover,
.mwb_membership_gateway_div .button:hover,
.mwb_membership_gateway_div a:hover {
    background-color: #0071a1;
    border-color: transparent;
    color: #ffffff;
}

/* Any element Positioning  */
.alignleft.actions,
#posts-filter .alignleft.actions {
    display: flex;
}

input#import_all_membership {
    order: 4;
}

input#export_all_membership,
input#export_all_members {
    order: 3;
}

input#post-query-submit,
input#post-query-submit {
    order: 2;
}

select#filter-by-date,
select#filter-by-date {
    order: 1;
}

/*Upload button modal box*/
.ui-dialog-titlebar.ui-corner-all.ui-widget-header.ui-helper-clearfix.ui-draggable-handle {
    background: transparent;
    border: none;
}

.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-draggable.ui-resizable {
    background-color: rgb(0 0 0/50%);
}

button.ui-button.ui-corner-all.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close {
    color: #fff;
}

.import_csv_field_wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

input#upload_csv_file:hover {
    background: #ffffff;
    color: #1a3365;
}

.import_csv_field_wrapper>input {
    color: #ffffff;
    background-color: inherit;
    border: 2px solid #fff;
    padding: 5px;
    cursor: pointer;
}

.import_csv_field_wrapper>input:first-child {
    color: #ffffff;
    background-color: inherit;
    border: none;
    padding: 5px;
}

/*Global Setting page styling*/

.mwb_membership_plans_creation_setting th,
.mwb_membership_plans_creation_setting td {
    padding-left: 15px;
}

.mwb_membership_plans_creation_setting tr {
    display: flex;
    align-items: baseline;
}

.mwb_membership_plans_creation_setting th {
    max-width: 200px;
    width: 100%;
}

.mwb_membership_plans_creation_setting td {
    display: inline-flex;
    align-items: center;
    flex-grow: 1;
}

.mwb_membership_plans_creation_setting .woocommerce-help-tip {
    margin-right: 10px;
}

.mwb_membership_plans_creation_setting input[type=text],
.mwb_membership_plans_creation_setting input[type=email],
.mwb_membership_plans_creation_setting input[type=tel],
.mwb_membership_plans_creation_setting input[type=number],
.meta-box-sortables input[type=number],
.mwb_membership_plans_creation_setting textarea {
    max-width: 300px;
    width: 100%;
    border: none;
    resize: none;
    border: 1px solid #1a3365;
    border-radius: 5px;
    padding: 5px;
    font-family: sans-serif;
    color: #1a3365;
}
.mwb_membership_plans_creation_setting textarea {
     max-width: unset;
     max-height: 180px;
}

.mwb_membership_plans_creation_setting input[type=number],
.meta-box-sortables input[type=number] {
    max-width: 100px;
}

#mwb_membership_email_content_ifr {
    height: fit-content !important;
}

/*Pro elements*/

input#mwb_membership_plan_recurring,
#mfw_offer_access_type {
    pointer-events: none;
    filter: opacity(0.5) grayscale(1);
}

/*Gateway page*/

.mwb_membership_manage_gateways a,
.mwb_membership_gateways .mwb_membership_plan_gateways {
    font-family: sans-serif;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-decoration: none;
    padding: 10px;
}

.mwb_membership_manage_gateways a {

    font-size: 15px;
    font-family: sans-serif;
    color: #1a3365;
}

.button_hide {
    display: none !important;
}

.mwb_membership_plan_gateways tbody {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.mwb_membership_plan_gateways tr {
    padding: 10px 20px;
    display: flex;
    margin: 10px 10px 0px 0px;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0px 2px 15px #c7c7c7;
    border-radius: 5px;
}

.mwb_membership_plan_gateways th {
    border-bottom: 1px solid #1a3365;
    padding: 0px 0px 10px;
    margin: 0px 0px 30px 0px;
}

.mwb_membership_plan_gateways th label {
    color: #1a3365;

}

.mwb_membership_plan_gateways td {
    padding: 5px;
    margin: 0px;
}

.mwb_membership_manage_gateways a {
    border: 2px solid #1a3365;
    padding: 5px;
    color: #1a3365;
    margin-top: 5px;
    display: block;
    border-radius: 5px;
    max-width: fit-content;
}

.mwb_membership_manage_gateways a:hover {
    border: 2px solid #F37E21;
    color: #F37E21;
}


td#mfw_free_shipping {
    display: inline-flex;
    align-items: center;
    min-height: 60px;
}

.mwb_membership_free_shipping_link {
    margin-left: 30px;
}

span.title_warning {
    font-size: 13px;
    margin-left: 4px;
    color: red;
}

/*Media Query for small screen devices*/

@media screen and (max-width:992px) {
    .mwb_membership_plans_creation_setting tr {
        display: block;
        padding: 10px 0px;
    }

    .mwb_membership_plans_creation_setting td {
        padding: 10px;
    }

    .mwb_membership_shortcodes_table tbody {
        flex-wrap: wrap;
    }

    .mwb_membership_shortcodes_table tr {
        flex: 0 0 80%;
    }
}

