table,
tr,
td {
    padding: 15px;
}

table {
    table-layout: auto;
}

#wps-mfw__invoice-table {
    background-color: #222222;
    color: #fff;
}

#wps-mfw__member-invoice-container {
    width: 600px;
    max-width: 100%;
    margin: 0px auto;
    font-family: sans-serif;
    border: 1px solid #1f1f1f;
}

#wps-mfw__member-invoice-table-container {
    width: 100%;
    padding: 0;
    color: #fff;
}

#wps-mfw__member-invoice-table-container tbody {
    background-color: #1f1f1f;
}

#wps-mfw__member-invoice-table-container tbody tr {
    vertical-align: top;
}

#wps-mfw__member-invoice-table-container tbody .td_1 {
    width: 50%;
    padding: 15px;
}

#wps-mfw__member-invoice-table-container tbody .td_1 h1 {
    display: block;
    font-size: 20px;
    margin: 0;
}

#wps-mfw__member-invoice-table-container tbody .td_2 {
    width: 50%;
    text-align: right;
    padding: 15px;
}

#wps-mfw__member-invoice-to-table {
    width: 600px;
    max-width: 100%;
    padding: 0 15px;
}

#wps-mfw__member-invoice-to-table tbody tr {
    vertical-align: top;
}

#wps-mfw__member-invoice-to-table tbody .td_1 {
    width: 50%;
    line-height: 150%;
    padding-top: 15px;
}

#wps-mfw__member-invoice-to-table tbody .td_2 {
    width: 50%;
    text-align: right;
}

#wps-mfw__member-item-container {
    overflow-x: auto;
    border-top: 15px solid transparent;
}

#wps-mfw__member-item-table_a {
    width: 600px;
    max-width: 100%;
    line-height: 200%;
    margin: 0px auto;
    padding: 0 15px;
}

#wps-mfw__member-item-table_a thead tr {
    font-weight: bold;
}

#wps-mfw__member-item-table_a thead .th_1 {
    text-align: left;
}

#wps-mfw__member-item-table_a thead .th_2 {
    text-align: left;
}

#wps-mfw__member-item-table_a thead .th_3 {
    text-align: center;
}

#wps-mfw__member-item-table_a thead .th_4 {
    text-align: right;
}

#wps-mfw__member-item-table_a tbody .td_1 {
    text-align: left;
}

#wps-mfw__member-item-table_a tbody .td_2 {
    text-align: left;
}

#wps-mfw__member-item-table_a tbody .td_3 {
    text-align: center;
}

#wps-mfw__member-item-table_a tbody .td_4 {
    text-align: right;
}

#wps-mfw__member-item-table_a tbody .td_5 {
    border-top: 1px solid #1a3365;
    padding: 10px 0;
}

#wps-mfw__member-item-table_b {
    text-align: center;
    width: 100%;
    color: #1f1f1f;
}

#wps-mfw__member-item-table_b tbody .td_1 {
    line-height: 150%;
    padding: 15px;
    text-align: left;
}

#wps-mfw__member-item-table_b tbody .td_1 h2 {
    margin: 0;
}

#wps-mfw__item-table thead .tr_1 {
    font-weight:bold;
}

#wps-mfw__item-table tbody .td_1 {
    border-top: 1px solid #222;
}

/* API Setting section start */

.wps_msfw_parent_api_details_wrapper h3 {
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    font-weight: 600;
}

.wps_msfw_parent_api_details_wrapper h4 {
    font-size: 18px;
    padding: 5px 20px 5px 15px;
    border-left: 5px solid #2196f3;
    position: relative;
    cursor: pointer;
    background-color: #2196f311;
}

.wps_msfw_parent_api_details_wrapper p {
    font-size: 16px;
    color: #000;
}

.wps_msfw_parent_api_details_wrapper strong {
    color: #2196f3;
}

.wps_msfw_parent_api_details_wrapper pre {
    background: #efefef;
    border-radius: 5px;
    margin-bottom: 28px;
    overflow: auto;
}

.wps_msfw_parent_api_details_wrapper {
    padding: 25px 0 0;
}

/* API Setting section end */

/* Report Section */

.membership_report h2 {
    margin: 0;  
}

.wps-members__plans--title {
    font-size: 32px;
    line-height: 1.5;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    padding-top: 20px;
}

.wps-member__plan--card-wrap {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
    justify-content: center;
}

.wps-member__plan--card {
    align-items: center;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgb(183 163 163 / 50%);
    display: inline-flex;
    flex-direction: column;
    flex: 0 0 100%;
    justify-content: center;
    margin: 0 20px 20px 0;
    max-width: 26%;
    padding: 15px;
}

.wps-member__plan--card th {
    text-align: center;
    font-size: 18px;
}

.wps-member__plan--card td {
    font-size: 38px;
    font-weight: 700;
}

.wps-last_actived-members{
    margin-left: 270px;
    width: 50%;
    box-shadow: 2px 2px 6px rgb(183 163 163 / 50%);
    background: #f9f9f9;
    border-radius: 10px;
    padding: 15px;
}

.wps-mfwp-reports-table-membership {
    width: 100%;
    border-collapse: collapse;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}


@media (max-width: 768px){
    .membership_report .wps-member__plan--card {
        margin: 0 15px 10px 0;
        max-width: 40%;
        min-height: 150px;
    }
}

